server:
  port: 8080

spring:
  application:
    name: iam-service

  datasource:
    url: jdbc:postgresql://localhost:5432/iam_service_db
    username: postgres
    password: 123456

  jpa:
    hibernate:
      ddl-auto: update
      open-in-view: false
    show-sql: true

application:
  security:
    jwt:
      secret-key: CceAYTEK9XB5w/ibsdi5pvuNynAwNfDvGI7y+BD3ziA=
      expiration: 86400000 # 1 ngày
      refresh-token:
        expiration: 604800000       # Refresh Token: 7 ngày

eureka:
  client:
    enabled: false
